Source: ros-noetic-laser-filtering
Section: misc
Priority: optional
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-laser-filtering
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-map-laser
Description: ROS Libraries for filtering specific kinds of laser scans
