Source: ros-lunar-laser-filtering
Section: misc
Priority: extra
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-lunar-laser-filtering
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lunar-map-laser
Description: ROS Libraries for filtering specific kinds of laser scans
